<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan私人订制尊享午餐</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="app">
        <h1>用户列表</h1>
        <ul class="user-list">
            <li v-for="(item,index) in customerList" :key="index" class="user-item">
                <input type="radio" name="user" :value="item.name" :id="item.id" v-model="user">
                <div class="user-info">{{item.name}}</div>
            </li>
        </ul>
        <h1 class="h1"><div>菜品</div><div @click="reset"> 重置</div></h1>
        <ul class="list">
            <label class="item">
                <input v-model="selectAll" type="checkbox">
                <div class="name">全选</div>
                <div class="cost">成本价</div>
                <div class="cost">分量</div>
                <div class="cost">份数</div>
            </label>
            <div class="item" v-for="(item, index) in menu" :key="index">
                <input v-model="select" type="checkbox" :value="item">
                <div class="name">{{item.name}}</div>
                <div class="cost">{{item.cost}}元</div>
                <div class="cost">{{item.num}}</div>
                <div class="cost">
                    <span class="mi" @click="mi(item,index)">-</span>{{item.count}}<span class="add"
                        @click="add(item,index)">+</span>
                </div>
            </div>
        </ul>
        
        <h1>订单</h1>
        <p>
            {{selectResult}}
        </p>
        <button v-show="selectResult" class="btn" :data-clipboard-text="selectResult">
            复制
        </button>
    </div>

    <script src="./js/vue_dev.js"></script>
    <script src="./js/clipboard.min.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                user: "",
                customerList: [{
                    id: 0,
                    name: "小蕊",
                },
                {
                    id: 1,
                    name: "小英",
                },  
                {
                    id: 2,
                    name: "Bella",
                },
                {
                    id: 3,
                    name: "iwen",
                },
                {
                    id: 4,
                    name: "温娴",
                },{
                    id: 5,
                    name: "金辉",
                },{
                    id: 6,
                    name: "姜姜",
                },{
                    id:7,
                    name: "张琰",
                },
                ],
                menu: [{
                        id: 0,
                        name: "玉米",
                        num: "1根",
                        cost: 3, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 1,
                        name: "胡萝卜",
                        num: "半根",
                        cost: 0.7, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 2,
                        name: "南瓜",
                        num: "3片",
                        cost: 0.6, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 3,
                        name: "豆腐",
                        num: "3片",
                        cost: 1, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 4,
                        name: "荷兰豆",
                        num: "5片",
                        cost: 1, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 5,
                        name: "木耳",
                        num: "3片",
                        cost: 1, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 6,
                        name: "酸奶",
                        num: "1杯",
                        cost: 1.725, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 7,
                        name: "紫薯",
                        num: "1根",
                        cost: 3.5, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 8,
                        name: "西芹",
                        num: "1根",
                        cost: 1, // 成本价
                        count: 1, // 份数
                    }, {
                        id: 9,
                        name: "西蓝花",
                        num: "3棵",
                        cost: 1, // 成本价
                        count: 1, // 份数
                    }, {
                        id: 10,
                        name: "鸡胸肉",
                        num: "125克",
                        cost: 3.5, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 11,
                        name: "香菇",
                        num: "3片",
                        cost: 0.5, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 12,
                        name: "小番茄",
                        num: "3个",
                        cost: 0.5, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 13,
                        name: "洋葱",
                        num: "几片",
                        cost: 0.2, // 成本价
                        count: 1, // 份数
                    }, {
                        id: 14,
                        name: "生菜",
                        num: "3片",
                        cost: 0.5, // 成本价
                        count: 1, // 份数
                    }, {
                        id: 15,
                        name: "虾仁",
                        num: "5个",
                        cost: 3, // 成本价
                        count: 1, // 份数
                    }, {
                        id: 16,
                        name: "黄瓜",
                        num: "1/3根",
                        cost: 0.5, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 17,
                        name: "口蘑",
                        num: "3个",
                        cost: 1, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 18,
                        name: "芦笋",
                        num: "3根",
                        cost: 1, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 19,
                        name: "菠菜",
                        num: "3根",
                        cost: 1, // 成本价
                        count: 1, // 份数
                    }, {
                        id: 20,
                        name: "秋葵",
                        num: "3根",
                        cost: 0.6, // 成本价
                        count: 1, // 份数
                    },
                    {
                        id: 21,
                        name: "鸡蛋",
                        num: "1个",
                        cost: 1, // 成本价
                        count: 1, // 份数
                    },
                ],
                select: [], // 勾选结果
                selectAll: false,
                resetMenu: [], // 初始菜单，重置用
            },
            computed: {
                cost() {
                    let sum = 0;
                    for (let i = 0; i < this.select.length; i++) {
                        sum += this.select[i].cost * this.select[i].count;
                    }
                    return sum;
                },
                selectResult() {
                    if(this.select.length > 0) {
                        let result = `${this.user}: `;
                        for(let i = 0;i < this.select.length;i++) {
                            result += `${this.select[i].name}*${this.select[i].count};`
                        }
                        return `${result} 成本总价：${this.cost} 实收：${this.cost + 5}`;

                    }
                }
            },
            watch: {
                selectAll(val) {
                    console.log(val);
                    if (val) {
                        this.select = this.menu;
                    } else {
                        this.select = []
                    }
                }
            },
            mounted() {
                this.resetMenu = this.menu;
                this.initCopy();
            },
            methods: {
                initCopy() {
                    let clipboard = new ClipboardJS('.btn');

                    clipboard.on('success', function(e) {
                        console.info('Action:', e.action);
                        console.info('Text:', e.text);
                        console.info('Trigger:', e.trigger);
                        alert("复制成功")
                        e.clearSelection();
                    });

                    clipboard.on('error', function(e) {
                        console.error('Action:', e.action);
                        console.error('Trigger:', e.trigger);
                        alert("复制失败")
                    });
                },  
                reset() {
                    this.menu = this.resetMenu;
                    this.select = [];
                    this.selectAll = false;
                    this.user = ""
                },
                mi(item,index) {

                    let newCount = item.count - 1;
                    
                    if(newCount < 0) {
                        return;
                    }else {
                        let newItem = {
                            id: item.id,
                            name: item.name,
                            num: item.num,
                            cost: item.cost, // 成本价
                            count: newCount, // 份数
                        }
                        Vue.set(this.menu, index, newItem)
                        for(let i = 0;i < this.select.length;i++) {
                            if(this.select[i].id === item.id) {
                                Vue.set(this.select, i, newItem)
                                return;
                            }
                        }
                    }
                    
                },
                add(item,index) {
                    
                    let newCount = item.count + 1;
                    let newItem = {
                        id: item.id,
                        name: item.name,
                        num: item.num,
                        cost: item.cost, // 成本价
                        count: newCount, // 份数
                    }
                    Vue.set(this.menu, index, newItem)
                    for(let i = 0;i < this.select.length;i++) {
                        if(this.select[i].id === item.id) {
                            Vue.set(this.select, i, newItem)
                            return;
                        }
                    }
                }
            },
        })
    </script>

</body>

</html>